[Unit]
Description=Directory service password changer (uWSGI worker)
After=syslog.target

[Service]
WorkingDirectory=/opt/ds_password_changer
ExecStart=uwsgi --socket 127.0.0.1:3031 --master --plugins python --uid ds-password-changer --wsgi-file app.py --processes 4 --threads 2
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
